<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersonUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4C479C11BD2746700ED0762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C479DA1BD2746800ED0762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C479E51BD2746800ED0762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
